<div>
    <h4>项目地址 </h4>
    <hr />

    <ApiLinkFullComponent Text="FreeSql的各种工程demo, console,xamarin app,ios,android,wpf,blazor,nf461,webapi"
                          API="https://github.com/densen2014/FreeSqlDemos" />

    <ApiLinkFullComponent Text="BootstrapBlazor的FreeSql数据注入服务扩展包"
                          API="https://www.nuget.org/packages/Densen.FreeSql.Extensions.BootstrapBlazor" />

    <ApiLinkFullComponent Text="[Blazor] 快速维护数据: BootstrapBlazor + freesql"
                          API="https://github.com/densen2014/BootstrapBlazorApp1_freesql" />

    <ApiLinkFullComponent Text="[Blazor] ZXing Blazor 扫码组件 / 手写签名 Handwritten 组件"
                          API="https://github.com/densen2014/ZXingBlazor" />

    <br />
    <h4>Demo SSR</h4>
    <hr />
    <ApiLinkFullComponent Text="数据采集以及维护 SSR+API, 使用Blazor+FreeSql+BootstrapBlazor"
                          API="https://ssr3.app1.es/" />


    <ApiLinkFullComponent Text="POS空闲队列提醒 Cola libre"
                          API="https://ssr6.app1.es/" />

    <ApiLinkFullComponent Text="POS空闲队列大屏提醒 Cola libre"
                          API="https://nc.app1.es/" />

    <ApiLinkFullComponent Text="BlazorPOS.simple 纯商品查询工程"
                          API="https://ssr1.app1.es/" />

    <ApiLinkFullComponent Text="bb+fsql演示 . BootstrapBlazorApp1_freesql 工程"
                          API="https://ssr5.app1.es/" />

    <ApiLinkFullComponent Text="ZXing Blazor 扫码组件 / 手写签名 Handwritten 组件"
                          API="https://zxingblazor.app1.es/" />

    <br />
    <h4>Demo WASM</h4>
    <hr />

    <ApiLinkFullComponent Text="ZXing Blazor 扫码组件 / 手写签名 Handwritten 组件"
                          API="https://densen2014.github.io/" />


    <ApiLinkFullComponent Text="BootstrapBlazor 的WASM"
                          API="https://ba.app1.es/" />

    <ApiLinkFullComponent Text="uno wasm版本下单app"
                          API="https://uno.app1.es/" />

    <ApiLinkFullComponent Text="BlazorPOS.simple wasm 纯商品查询工程"
                          API="https://wasm1.app1.es/" />

    <ApiLinkFullComponent Text="FreeRes点餐工程"
                          API="https://wasm2.app1.es/" />

    <ApiLinkFullComponent Text="BlazorPOS工程"
                          API="https://wasm4.app1.es/" />
    <ApiLinkFullComponent Text="uno的ch9 wasm版本"
                          API="https://y2.916423330.com/" />

</div>
